.rdrDay {
  box-sizing: inherit;
  width: calc(100% / 7);
  position: relative;
  font: inherit;
  cursor: pointer;
}

.rdrDayReadOnly {
  cursor: default;
}

.rdrCalendarWrapper:not(.rdrCalendarWrapper--selecting) .rdrDay {
  &:not(.rdrDayDisabled):hover {

    .rdrDayNumber:after{
      content: '';
      border: 1px solid currentColor;
      border-radius: 1.333em;
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: 0px;
      right: 0px;
      background: transparent;
    }

    .rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
      display: none;
    }

  }
}

.rdrDayNumber {
  display: block;
  position: relative;
  span{
    color: #1d2429;
  }
}

.rdrDayDisabled {
  cursor: not-allowed;
}

@supports (-ms-ime-align: auto) {
  .rdrDay {
    flex-basis: 14.285% !important;
  }
}

.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge{
  pointer-events: none;
}

.rdrInRange{}

.rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
  pointer-events: none;
}

.rdrDayActive{}
